.header-color{
  background-color: black;
}

.haut {
  text-align: center;
  padding: 10px;
}

.para1 {
  font-family: 'Comic Neue';
  font-size: 24px;
}

.geo {
  text-align: center;
  font-size: 40px;
  font-family: Indie Flower;
  padding-top: 40px;
  animation: flash 2s linear infinite;
}

@keyframes flash{
  100%{
    color: #fcb045;
    text-shadow: 0 0 7px #fff900 ;
  }
}

.val {
  background-color: black;
  color: white;
}

.eng{
  border: 2px solid green;
  padding: 5px;
}
.gen{
  border: 2px solid yellow;
  padding: 5px;
}
.ent{
  border: 2px solid red;
  padding: 5px;
}
.couv{
  border: 2px solid skyblue;
  padding: 5px;
}

.foot {
  background-color: black;
  color: white;
}

i {
    padding: 20px;
    font-size: 50px;
    color: white;
}

.body-contact {
  background-color: grey;
  text-align: center;
  
}

.img-contact {
  width: 300px;
  height: 300px;
  border-radius: 230px;
}

.bor {
  border: 2px solid black;
}

.hau {
  text-align: center;
  color: white;
  
}

